.App {
  text-align: center;
  margin:0;
  padding:0;
}
.operators button{
  width: 7.5pc;
  height:7.5pc;
  background-color: orange;
  font-size:1.5pc;
  border-radius: 1pc;
  margin:0.25pc;
}

.operators{
  width:35pc;
  margin-left: 30pc;
  display:flex;
  justify-content: space-evenly;
}

.numbers{
  width:35pc;
  margin-left: 30pc;
  display:flex;
  justify-content: space-evenly;
}

.numbers button{
  width: 10pc;
  height:5pc;
  background-color: rgba(144, 144, 144, 0.513);
  font-size: 2pc;
  font-weight:lighter;
  border-radius: 1pc;
  margin:0.5pc;
}

.display {
  padding-top:0;
  margin-top:0;
  width:32.5pc;
  margin-left: 31.25pc;
  height:10pc;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2pc;
  background-color: rgba(88, 144, 96, 0.444);
  border-radius: 1pc;
}

h2{
  padding-top: 2.5pc;
}

h1{
  padding-top:0.1pc;
  margin-top:0.1pc;
  font-size: 1.5pc;
}